[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-pinecone = "*"
python-dotenv = "*"
langchainhub = "*"
black = "*"
langchain-community = "*"
langchain-text-splitters = "*"
faiss-cpu = "*"
pypdf = "*"
bs4 = "*"
requests = "*"
streamlit = "*"
streamlit-chat = "*"

[dev-packages]

[requires]
python_version = "3.9"
